:root {
    --color-base: #1e1e2e;
    --color-base-2: #181825;
    --color-base-3: #11111b;
    --color-text: #cdd6f4;
    --color-text-2: #bac2de;
    --color-accent: #fab387;
    --color-error: #f38ba8;
}

